# Database
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=movie_booking_db
MYSQL_USER=your_db_user
MYSQL_PASSWORD=your_db_password
DATABASE_URL=mysql+pymysql://your_db_user:your_db_password@db:3306/movie_booking_db?charset=utf8mb4

# SMTP (OTP Service) - Use Google App Password
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_16_digit_app_password
